@font-face {
font-family: 'Circular';
src: url("../fonts/CircularStd-Bold.otf");
}

:root {
    --intro-headline: 10vw;
    --headline-font-size: 80px;
    --headline-reduced: 32px;
    --link-font-size: 28px;
}
  
body, html {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    overflow-x: hidden;
}

// TYPOGRAPHY

.logo h1 {
    font-size: 3vw;
}

.intro {
    font-size: var(--intro-headline);
    font-weight: 700;
    letter-spacing: -.003em;
    line-height: 1.085;
}

.intro-info {
    font-weight: 600;
    padding: 0 5%;
}

.headline {
    font-size: var(--headline-font-size);
    line-height: 1.075;
    font-weight: 700;
    letter-spacing: -0.012em;
    padding: 0 5%;
}

.headline-reduced {
    font-size: var(--headline-reduced);
}

.btn-link {
    line-height: 2;
    font-weight: 400;
    font-size: var(--link-font-size);
}

.btn-link svg {
    vertical-align: sub;
    width: calc(var(--link-font-size) * 0.685);
}
// Common

.section-align {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.section-align-top {
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

// .rightside {
//     background: #f5f5f5;
//     height: 100vh;
//     z-index: 2;
//     background-position: center center;
//     text-align: center;
// }

// .leftside {
//     padding-left: 4%;
// }

#hero-img img {
    height: 80vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fixed {
    position: fixed;
    z-index: 999;
}

// HERO


// ROLES

#roles .role {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 0.007em;
    padding: 0 3%;
    line-height: 1.143;
    text-align: left;  
    p {
        margin-top: 13px;
    }
}

.role-icon {
    height: calc(3vw + 3rem);
    width: calc(3vw + 3rem);
    position: relative;
    mask-size: contain;
    mask-repeat: no-repeat;
    bottom: 0;
    background-image: linear-gradient(90deg, #f9717e, #fca747);
    background-color: #f9717e;
    margin-top: 5%;
}

.ux-ui-designer {
    mask-image: url(../img/ux-ui-designer.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}

.speaker {
    mask-image: url(../img/speaker.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}

.product-designer {
    mask-image: url(../img/product-designer.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}

.marketing {
    mask-image: url(../img/marketing.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}
// .bg {
//     background: #f5f5f5;
//     background-image: url("../img/placeholder.jpg");
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: 999;
// }

// #home {
//     background-size: cover;
//     background-position: center center;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     position: relative;
//     text-align: center;
// }

// .main-home {
//     width: 100%;
//     height: 100vh;
// }

// .fixed-row-bottom {
//     position: fixed;
//     bottom: 0;
// }

// .fixed-row-top {
//     position: fixed;
//     top: 0;
// }

// .container-fluid {
//     overflow: hidden;
// }

// /* "Logo" section */

// .logo a {
//     color: black;
//     text-decoration: none;
// }
// .yev {
//     position: sticky;
//     z-index: 1000;
// }

// /* Menu section */

// #menu-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background: #fec33f;
//     display: flex;
//     overflow-y: auto;
//     transform: translate(0, -100%);
//     transition: 0.5s;
//     z-index: 99;
// }

// #menu-overlay.active {
//     transform: translate(0, 0);
// }

// #menu-overlay nav a {
//     color: black;
// }
// #menu-overlay nav a:hover {
//     color: white;
// }
// .menu h3 {
//     position: absolute;
//     transform: rotate(90deg);
//     transform-origin: left bottom 0;
//     display: block;
// }

// .menu h3:hover {
//     color: #fec33f;
// }

// #toggleIcon {
//     position: fixed;
//     width: auto;
//     z-index: 100;
//     cursor: pointer;
// }

// #toggleIcon.active span {
//     display: none;
// }

// #toggleIcon.active>h3:after {
//     content: 'Close';
// }

// #toggleIcon.active>h3:hover {
//     color: #fff;
// }

@media only screen and (min-width: 1440px) {
    :root {
        --intro-headline: 8vw;
        --headline-font-size: 120px;
        --link-font-size: 28px;
    }

    .intro-info {
        padding: 0 10% 2%;
        font-size: 32px;
        line-height: 1.125;
        letter-spacing: .004em;
    }

    .headline-reduced {
        font-size: 60px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: -.018em;
    }
}

@media only screen and (max-width: 1068px) {
    :root {
        --intro-headline: 13.5vw;
        --headline-font-size: 40px;
        --link-font-size: 28px;
    }

    .headline-reduced {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 500;
        letter-spacing: .004em;
    }
}

@media only screen and (max-width: 734px) {
    :root {
        --link-font-size: 21px;
    }

    .headline-reduced {
        font-size: 25px;
    }

    .sub-intro {
        padding: 0 2%;
    }

    .btn-link {
        text-align: left;
        padding: 0;
    }

    .about-btn {
        text-align: left;
    }

    .intro-info {
        padding: 3% 0;
        text-align: left;
        font-size: 24px;
        line-height: 1.381;
        letter-spacing: .011em;
    }
}