@font-face {
  font-family: 'Circular';
  src: url("../fonts/CircularStd-Bold.otf");
}

:root {
  --intro-headline: 10vw;
  --headline-font-size: 80px;
  --headline-reduced: 32px;
  --link-font-size: 28px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  overflow-x: hidden;
}

.logo h1 {
  font-size: 3vw;
}

.intro {
  font-size: var(--intro-headline);
  font-weight: 700;
  letter-spacing: -.003em;
  line-height: 1.085;
}

.intro-info {
  font-weight: 600;
  padding: 0 5%;
}

.headline {
  font-size: var(--headline-font-size);
  line-height: 1.075;
  font-weight: 700;
  letter-spacing: -0.012em;
  padding: 0 5%;
}

.headline-reduced {
  font-size: var(--headline-reduced);
}

.btn-link {
  line-height: 2;
  font-weight: 400;
  font-size: var(--link-font-size);
}

.btn-link svg {
  vertical-align: sub;
  width: calc(var(--link-font-size) * 0.685);
}

.section-align {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-align-top {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-img img {
  height: 80vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.fixed {
  position: fixed;
  z-index: 999;
}

#roles .role {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.007em;
  padding: 0 3%;
  line-height: 1.143;
  text-align: left;
}

#roles .role p {
  margin-top: 13px;
}

.role-icon {
  height: calc(3vw + 3rem);
  width: calc(3vw + 3rem);
  position: relative;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f9717e), to(#fca747));
  background-image: linear-gradient(90deg, #f9717e, #fca747);
  background-color: #f9717e;
  margin-top: 5%;
}

.ux-ui-designer {
  -webkit-mask-image: url(../img/ux-ui-designer.svg);
          mask-image: url(../img/ux-ui-designer.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

.speaker {
  -webkit-mask-image: url(../img/speaker.svg);
          mask-image: url(../img/speaker.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

.product-designer {
  -webkit-mask-image: url(../img/product-designer.svg);
          mask-image: url(../img/product-designer.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

.marketing {
  -webkit-mask-image: url(../img/marketing.svg);
          mask-image: url(../img/marketing.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

@media only screen and (min-width: 1440px) {
  :root {
    --intro-headline: 8vw;
    --headline-font-size: 120px;
    --link-font-size: 28px;
  }
  .intro-info {
    padding: 0 10% 2%;
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: .004em;
  }
  .headline-reduced {
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -.018em;
  }
}

@media only screen and (max-width: 1068px) {
  :root {
    --intro-headline: 13.5vw;
    --headline-font-size: 40px;
    --link-font-size: 28px;
  }
  .headline-reduced {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: .004em;
  }
}

@media only screen and (max-width: 734px) {
  :root {
    --link-font-size: 21px;
  }
  .headline-reduced {
    font-size: 25px;
  }
  .sub-intro {
    padding: 0 2%;
  }
  .btn-link {
    text-align: left;
    padding: 0;
  }
  .about-btn {
    text-align: left;
  }
  .intro-info {
    padding: 3% 0;
    text-align: left;
    font-size: 24px;
    line-height: 1.381;
    letter-spacing: .011em;
  }
}
/*# sourceMappingURL=folio.css.map */