@font-face {
  font-family: 'Circular';
  src: url("../fonts/CircularStd-Bold.otf");
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Circular';
}

.bg {
  /* The image used */
  background-image: url("../img/placeholder.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}

.main-home {
  width: 100%;
  height: 100vh;
}
.menu h3 {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  display: block;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;

}

.container-fluid {
  overflow: hidden;
}


/* colours for menu: text #6a5fcc
background: #e97a94 */
