.hero-intro {
  max-width: 800px;
}

.section-intro {
  max-width: 1096px;
}

.section-align {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-subhead {
  max-width: 1060px;
  margin: 0 auto;
}

.hero-intro {
  margin: 0px auto 32px auto;
}

@media only screen and (max-width: 1020px) {
  .hero-intro {
    margin: 0px auto 25px auto;
  }
}

.section-headline {
  padding: 30px;
}

@media only screen and (max-width: 1020px) {
  .section-headline {
    padding: 18px;
  }
}

.section-intro {
  margin: 0 auto;
}

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

section {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  z-index: 1;
}

#hero {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -10;
  background-color: #f5f5f5;
}

#hero-img {
  background: #f5f5f5 url(../../img/pages/folio/hero-back.png) no-repeat right;
  background-size: contain;
  position: relative;
  z-index: 10;
}

#roles {
  background: #f5f5f5;
}

.fixed {
  position: fixed;
  z-index: 999;
}

#roles .role {
  font-weight: 600;
  letter-spacing: 0.007em;
  padding: 3% 0;
  line-height: 1.143;
}

#roles .role p {
  margin-top: 13px;
}

.role-icon {
  height: calc(3vw + 3rem);
  width: calc(3vw + 3rem);
  position: relative;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f9717e), to(#fca747));
  background-image: linear-gradient(90deg, #f9717e, #fca747);
  background-color: #f9717e;
  margin: 5% auto 0;
}

.ux-ui-designer {
  -webkit-mask-image: url(../img/ux-ui-designer.svg);
          mask-image: url(../img/ux-ui-designer.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

.speaker {
  -webkit-mask-image: url(../img/speaker.svg);
          mask-image: url(../img/speaker.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

.product-designer {
  -webkit-mask-image: url(../img/product-designer.svg);
          mask-image: url(../img/product-designer.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

.marketing {
  -webkit-mask-image: url(../img/marketing.svg);
          mask-image: url(../img/marketing.svg);
  background-image: -webkit-gradient(linear, left top, right top, from(#b782e0), to(#f8707f));
  background-image: linear-gradient(90deg, #b782e0, #f8707f);
  background-color: #b782e0;
}

#design-process .card {
  background-color: #f5f5f5;
  border: none;
  border-radius: 30px;
  margin-bottom: 75px;
  padding-top: 7%;
  padding-bottom: 7%;
}

@media only screen and (max-width: 1020px) {
  #design-process .card {
    border-radius: 20px;
  }
}

body, html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
}

.hero-headline {
  font-size: calc(5.1vw + 41px);
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -0.015em;
}

.hero-subhead {
  font-size: calc(.89286vw + 17px);
  font-weight: 400;
  line-height: calc(1.18304vw + 21.7px);
}

.hero-intro {
  font-size: calc(.9vw + 19.15px);
  font-weight: 500;
  line-height: calc(1.18304vw + 23.71429px);
  text-align: center;
}

@media only screen and (max-width: 568px) {
  .hero-intro {
    text-align: left;
  }
}

.hero-cta {
  font-size: calc(.9vw + 19px);
  font-weight: 300;
  line-height: 1.15;
}

@media only screen and (max-width: 568px) {
  .hero-cta {
    text-align: left;
  }
}

.hero-cta svg {
  vertical-align: sub;
  width: calc(1em * 0.65);
}

.section-headline {
  font-size: calc(40px + 40 * ( (100vw - 420px) / 480));
  line-height: 0.97;
  font-weight: 500;
  letter-spacing: -.01em;
}

@media screen and (max-width: 420px) {
  .section-headline {
    font-size: 40px;
  }
}

@media screen and (min-width: 900px) {
  .section-headline {
    font-size: 80px;
  }
}

.section-subhead {
  font-size: calc(24px + 16 * ( (100vw - 420px) / 480));
  line-height: 1.14;
  font-weight: 600;
  letter-spacing: .007em;
}

@media screen and (max-width: 420px) {
  .section-subhead {
    font-size: 24px;
  }
}

@media screen and (min-width: 900px) {
  .section-subhead {
    font-size: 40px;
  }
}

.section-intro {
  font-size: calc(19px + 5 * ( (100vw - 420px) / 480));
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: .009em;
}

@media screen and (max-width: 420px) {
  .section-intro {
    font-size: 19px;
  }
}

@media screen and (min-width: 900px) {
  .section-intro {
    font-size: 24px;
  }
}

.card-headline {
  font-size: calc(32px + 16 * ( (100vw - 420px) / 480));
  line-height: 1.12;
  font-weight: 700;
  letter-spacing: 0em;
}

@media screen and (max-width: 420px) {
  .card-headline {
    font-size: 32px;
  }
}

@media screen and (min-width: 900px) {
  .card-headline {
    font-size: 48px;
  }
}

.card-subhead {
  font-size: calc(17px + 2 * ( (100vw - 420px) / 480));
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -.022em;
}

@media screen and (max-width: 420px) {
  .card-subhead {
    font-size: 17px;
  }
}

@media screen and (min-width: 900px) {
  .card-subhead {
    font-size: 19px;
  }
}
/*# sourceMappingURL=main.css.map */