body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

section {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    z-index: 1;
}

#hero {
    position: sticky;
    top: 0;
    z-index: -10;
    background-color: $background-grey;
}

#hero-img {
    background: $background-grey url(../../img/pages/folio/hero-back.png) no-repeat right;
    background-size: contain;
    position: relative;
    z-index: 10;
}

#roles {
    background: $background-grey;
}

.fixed {
    position: fixed;
    z-index: 999;
}


// ROLES

#roles .role {
    font-weight: 600;
    letter-spacing: 0.007em;
    padding: 3% 0;
    line-height: 1.143;
    p {
        margin-top: 13px;
    }
}

.role-icon {
    height: calc(3vw + 3rem);
    width: calc(3vw + 3rem);
    position: relative;
    mask-size: contain;
    mask-repeat: no-repeat;
    bottom: 0;
    background-image: linear-gradient(90deg, #f9717e, #fca747);
    background-color: #f9717e;
    margin: 5% auto 0;
}

.ux-ui-designer {
    mask-image: url(../img/ux-ui-designer.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}

.speaker {
    mask-image: url(../img/speaker.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}

.product-designer {
    mask-image: url(../img/product-designer.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}

.marketing {
    mask-image: url(../img/marketing.svg);
    background-image: linear-gradient(90deg, #b782e0, #f8707f);
    background-color: #b782e0;
}


// DESIGN PROCESS SECTION

#design-process {
    .card-body {
        // min-height: 100%;
    }
}

#design-process .card {
    background-color: $background-grey;
    border: none;
    border-radius: 30px;
    margin-bottom: 75px;
    @media only screen and (max-width: 1020px) {
        border-radius: 20px;
     }

    padding-top: 7%;
    padding-bottom: 7%;
}