body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}

.hero-headline {
    font-size: calc(5.1vw + 41px);
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.015em;
}

.hero-subhead {
    font-size: calc(.89286vw + 17px);
    font-weight: 400;
    line-height: calc(1.18304vw + 21.7px);
}

.hero-intro {
    font-size: calc(.9vw + 19.15px);
    font-weight: 500;
    line-height: calc(1.18304vw + 23.71429px);
    text-align: center;
    @media only screen and (max-width: 568px) {
        text-align: left;
    }
}

.hero-cta {
    font-size: calc(.9vw + 19px);
    font-weight: 300;
    line-height: 1.15;
    @media only screen and (max-width: 568px) {
        text-align: left;
    }
    svg {
        vertical-align: sub;
        width: calc(1em * 0.65);
    }
}

.section-headline {
    @include fluid-type(40px, 80px);
    line-height: 0.97;
    font-weight: 500;
    letter-spacing: -.01em;
}

.section-subhead {
    @include fluid-type(24px, 40px);
    line-height: 1.14;
    font-weight: 600;
    letter-spacing: .007em;
}

.section-intro {
    @include fluid-type(19px, 24px);
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: .009em;
}

// .section-cta {

// }

.card-headline {
    @include fluid-type(32px, 48px);
    line-height: 1.12;
    font-weight: 700;
    letter-spacing: 0em;
}

.card-subhead {
    @include fluid-type(17px, 19px);
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -.022em;
}

// .card-cta {

// }